.sidebar-sommaire {
    width: 200px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background: #000000;
    border-right: 1px solid #eaeaea;
    padding: 20px;
    overflow-y: auto;
    z-index: 100;
}

.sidebar-sommaire {
    font-size: 14px;
    border-bottom: 3px solid #DA251D;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.text-sidebar{
    text-align: left;
    padding-top: 30px;
}

.sommaire-section { margin-bottom: 20px; }

.sommaire-section p {
    font-size: 12px;
    font-weight: bold;
    color: #dedede;
    margin-bottom: 8px;
}

.sommaire-section a {
    display: block;
    text-decoration: none;
    color: #cdcdcd;
    font-size: 30px;
    margin-bottom: 6px;
    transition: color 0.2s;
}

.sommaire-section a:hover { color: #9EC2AC; }

.back-home {
    display: inline-block;
    margin-top: 20px;
    font-size: 12px;
    color: #666;
    text-decoration: none;
}

.main {
    max-width: 1100px;
    margin-left: 240px; 
    flex-grow: 1;
}

.logo img{
    display: block;
    margin: 0 auto;
    width: 150px;
    align-items: center;  

}

