.sidebar-right-sommaire {
    box-sizing: border-box;
    width: 240px;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    background: #000000;
    border-left: 1px solid #333; 
    padding: 20px;
    z-index: 100;
    display: flex;
    flex-direction: column;
}

.sommaire-right-section {
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    gap: 15px; 
}

.sommaire-right-section a {
    text-decoration: none;
    color: #cdcdcd;
    font-size: 22px;
    transition: color 0.2s;
    display: flex;
    align-items: center;
}

.sommaire-right-section a:hover {
    color: #9EC2AC;
}

.text-right-sidebar{
    padding-top: 10px;
}

/* --- Méteo --- */

.weather-card {
    background: linear-gradient(135deg, #008bba, #007298);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    transition: transform 0.3s ease;
}

.weather-card:hover {
    transform: translateY(-5px);
}

.weather-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.city { 
    font-weight: bold; 
    font-size: 1.2rem; 
    text-transform: uppercase; 
    letter-spacing: 1px; 
}

.date { 
    font-size: 0.8rem; 
    opacity: 0.8; 
}

.weather-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.temp-container { 
    font-size: 2.5rem; 
    font-weight: 800; 
}

.unit { 
    font-size: 1.5rem; 
    vertical-align: top; 
    margin-top: 10px; 
    display: inline-block; 
}

.weather-icon { 
    font-size: 3rem; 
    text-align: center;
    display: block;
}

.weather-details {
    border-top: 1px solid rgba(255,255,255,0.2);
    padding-top: 15px;
    display: flex;
    justify-content: center;
}

.detail-item { 
    text-align: center; 
}

.label { 
    display: block; 
    font-size: 0.7rem; 
    opacity: 0.7; 
    margin-bottom: 5px; 
}

#vent-affichage { 
    font-weight: 600; 
    font-size: 1rem; 
}
