<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>G - Inscription</title>
    <link rel="icon" href="{{ url_for('static', filename='img/logo.webp') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/inscription.css') }}">
</head>

<body>
    <!-- Logo -->
    <img src="{{ url_for('static', filename='img/logo.webp') }}" alt="Logo" class="logo" />

    <!-- Formulaire d'inscription -->
    <div class="create_account">
        <form method="POST" action="{{ url_for('main.inscription') }}">
            <div class="username">
                <h1>Identifiant :</h1>
                <input type="text" name="username" placeholder="Choisissez votre nom d'utilisateur" required>
            </div>

            <div class="display_name">
                <h1>Nom d'affichage :</h1>
                <input type="text" name="display_name" placeholder="Choisissez votre nom d'affichage" required>
            </div>

            <div class="email">
                <h1>Email :</h1>
                <input type="email" name="email" placeholder="Entrez votre adresse email" required>
            </div>

            <div class="password">
                <h1>Mot de passe :</h1>
                <input type="password" name="password" placeholder="Choisissez votre mot de passe" required>
            </div>

            <div class="confirm_password">
                <h1>Confirmer le mot de passe :</h1>
                <input type="password" name="confirm_password" placeholder="Confirmez votre mot de passe" required>
            </div>

            {% if error %}
            <p class="error-msg">{{ error }}</p>
            {% endif %}

            <button type="submit">S'inscrire</button>
        </form>
    </div>

    <!-- Lien vers connexion -->
    <div class="login_page">
        <a href="{{ url_for('main.connexion') }}">Connexion</a>
    </div>
</body>

</html>